<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zielnik</title>
</head>

<body style="margin:0; font-family:Arial;">
    <nav style="background:#2d6a4f; padding:10px;">
        <a href="/Home/Index" style="color:white; margin-right:15px;">🏠 Home</a>
        <a href="/GardensPage/Index" style="color:white; margin-right:15px;">🌿 Gardens</a>
        <a href="/PlantsPage/Index" style="color:white;">🌱 Plants</a>
    </nav>
    @RenderBody()

</body>
</html>